@model IEnumerable<BOL.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.InStock == true)
                {
                    <a href='@Url.Action("ChangeProductStatus", new { @id = item.Id })' title="Status" data-uid="@item.Id" class="small">In-Stock</a>
                }
                else if (item.InStock == false)
                {
                    <a href='@Url.Action("ChangeProductStatus", new { @id = item.Id })' title="Status" data-uid="@item.Id" class="small">Out-Of-Stock</a>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
